{if condition="authority('ApplyNavigation')"}
<!-- 此模块仅向具有会诊权限的用户开放，用于提醒用户有新的申请 -->
<li id="nav-apply">
    <a href="javascript:;" data-toggle="dropdown">
        <i class="fa fa-envelope fa-lg"></i>
    </a>
    <span class="badge badge-purple bounceIn animation-delay4 active" v-if="total != 0">{{total}}</span>
    <ul class="dropdown-menu message pull-right">
        <li><a href="javascript:;">您有<span style="color: red">{{total}}</span>条新申请</a></li>
        <template v-if="list.length != 0">
            <template v-for="(model, index) in list">
                <li>
                    <a class="clearfix" :href="'__PRO_PATH__/Apply/Reply?id='+model.id">
                        <img :src="model.hospital_logo != '' ? model.hospital_logo : '__PUBLIC__/images/img_none.png' " :alt="model.hospital_name">
                        <div class="detail">
                            <strong>{{model.hospital_name}}</strong>
                            <p class="no-margin">
                                {{model.consultation_goal | formatText(30, model.consultation_goal)}}
                            </p>
                            <small class="text-muted" style="margin: 0; color: darkgreen"><i class="fa fa-check text-success"></i>
                                {{model.create_time | formatTime}}
                            </small>
                        </div>
                    </a>
                </li>
            </template>
        </template>
        <li><a href="__PRO_PATH__/Apply/index">查看所有申请</a></li>
    </ul>
</li>
<script>
    var vm2 = new Vue({
        el: '#nav-apply',
        data: {
            total: 0,
            list: [],
            per_page: 5,
            current_page: 1,
            params:{}
        },
        mounted: function () {
//            setInterval(function () {
//                vm2.getApply();
//            }, 3000);
        },
        methods:{
            getApply: function () {
                vm2.params['per_page'] = vm2.per_page;
                vm2.params['current_page'] = vm2.current_page;
                vm2.params['status'] = 1;
                $.post('__PRO_PATH__/Apply/getApplyList', vm2.params, function (res) {
                    if(res.error_code == 0){
                        vm2.total = res.total;
                        vm2.list = res.data;
                    }
                });
            }
        },
        filters:{
            moment: function (value, formatString) {
                formatString = formatString || 'YYYY-MM-DD HH:mm';
                var time=new Date(parseInt(value) * 1000).format('yyyy年M月d日 hh:mm');
                return time;
            },
            getApplyStatus: function (value) {
                var ret = "";
                if(value==1){
                    ret = "待处理";
                }
                if(value==2){
                    ret = "处理中";
                }
                if(value==3){
                    ret = "会诊成功";
                }
                if(value==4){
                    ret = "会诊失败";
                }
                return ret;
            },
            getApplyType: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '一般';
                }
                if(value == 2){
                    ret = '紧急';
                }
                return ret;
            },
            getApplyProject: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '咨询';
                }
                else if(value == 2){
                    ret = '住院';
                }
                else if(value == 3){
                    ret = '手术';
                }
                return ret;
            },
            getChargeStatus: function (value) {
                var ret = '';
                if(value == 0){
                    ret = '未缴费';
                }
                if(value == 1){
                    ret = '已缴费';
                }
                return ret;
            },
            formatText: function (text, len) {
                return cutString(text, len);
            },
            formatTime: function (time) {
                if (!time) return '';
                var formatTime = '';
                var curTime = Math.ceil(new Date().getTime() / 1000);
                var interval = parseInt(curTime) - parseInt(time);
                if (interval >= 3600 * 24) {
                    formatTime = new Date(parseInt(time) * 1000).format('yyyy年M月d日 hh:mm');
                } else if (interval >= 3600) {
                    formatTime = Math.floor(interval / 3600) + '小时前';
                } else {
                    formatTime = Math.floor(interval / 60) + '分钟前';
                }
                return formatTime;
            }
        }
    });
</script>
{/if}