<!-- 必须包含
	Common/popup_warn
	
	调用：popupList(配置);
 -->
<div class="custom-popup" id="confirm-popup" style="width:200px;">
    <div class="popup-body text-center">
        <h5>您确定要删除吗？</h5>
        <div class="text-center m-top-lg">
            <a class="btn btn-success m-right-sm confirm-do">删除</a>
            <a class="btn btn-default confirm-cancel">取消</a>
        </div>
    </div>
</div>
<div class="custom-popup" id="stop-confirm-popup" style="width:200px;">
    <div class="popup-body text-center">
        <h5>您确定要终止任务吗？</h5>
        <div class="text-center m-top-lg">
            <a class="btn btn-warning m-right-sm confirm-stop">终止</a>
            <a class="btn btn-default confirm-stop-cancel">取消</a>
        </div>
    </div>
</div>
<div class="custom-popup" id="mark-confirm-popup" style="width:200px;">
    <div class="popup-body text-center">
        <h5>您确定要标为已读吗？</h5>
        <div class="text-center m-top-lg">
            <a class="btn btn-success m-right-sm confirm-mark">确定</a>
            <a class="btn btn-default confirm-mark-cancel">取消</a>
        </div>
    </div>
</div>
<script>
    function popupList(config, callback) {
        $('#addItem').on('click', function () {
            window.location.href = config.create;
        });
        $('#removeItem').on('click', function () {
            $('#confirm-popup').popup('show');
        });
        $('#stopItems').on('click', function () {
            $('#stop-confirm-popup').popup('show');
        });
        $('.confirm-do').unbind('click').on('click', function () {
            $('#confirm-popup').popup('hide');
            var ids = config.ids || [];
            console.log('ids:', ids);
            if(ids != 'all'){
                if(ids.length==0){
                    $("input[name='select']:checked").each(function () {
                        ids.push(this.value);
                    });
                }
                if (ids.length <= 0) {
                    $('#warn-popup h5').html('请选择至少一条');
                    $('#warn-popup').popup('show');
                    return;
                }
                $.post(config.remove, {ids: ids.join(',')}, function (res) {
                    if (res['error_code'] == 0) {
                        callback();
                    } else {
                        popWarn('删除失败');
                        $("input[name='select']:checked").each(function () {
                            $("input[name='select'][value="+this.value+"]").attr("checked", false);
                        });
                    }
                });
            } else{
                console.log('ids:', ids);
                $.post(config.remove, {ids: ids}, function (res) {
                    if (res['error_code'] == 0) {
                        popWarn(res.msg, config.list);
                    } else {
                        popWarn('删除失败');
                        $("input[name='select']:checked").each(function () {
                            $("input[name='select'][value="+this.value+"]").attr("checked", false);
                        });
                    }
                });
            }
        });
        $('.confirm-stop').unbind('click').on('click', function () {
            $('#stop-confirm-popup').popup('hide');
            var ids = config.ids;
            if (ids.length <= 0) {
                $('#warn-popup h5').html('请选择至少一条');
                $('#warn-popup').popup('show');
                return;
            }
            $.post(config.stop, {ids: ids.join(',')}, function (res) {
                if (res['error_code'] == 0) {
                    callback();
                } else {
                    popWarn('终止失败');
                }
            });
        });
        $('.confirm-mark').unbind('click').on('click', function () {
            $('#mark-confirm-popup').popup('hide');
            var ids = config.ids;
            if (ids.length <= 0) {
                $('#warn-popup h5').html('请选择至少一条');
                $('#warn-popup').popup('show');
                return;
            }
            $.post(config.mark, {ids: ids.join(',')}, function (res) {
                if (res['error_code'] == 0) {
                    callback();
                } else {
                    popWarn('标记失败');
                }
            });
        });
    }

    $('.confirm-cancel').on('click', function () {
        $('#confirm-popup').popup('hide');
    });
    $('.confirm-stop-cancel').on('click', function () {
        $('#stop-confirm-popup').popup('hide');
    });
    $('.confirm-mark-cancel').on('click', function () {
        $('#mark-confirm-popup').popup('hide');
    });
    var len = $("input[name='select']").length;
    $('#checkbox-all').on('click', function () {
        if (this.checked) {
            $("input[name='select']").prop('checked', true);
        } else {
            $("input[name='select']").prop('checked', false);
        }
    });
    $("input[name='select']").on('click', function () {
        if ($("input[name='select']:checked").length == len) {
            $('#checkbox-all').prop('checked', true);
        } else {
            $('#checkbox-all').prop('checked', false);
        }
    });
    $(function () {
        //Delete Widget Confirmation
        $('#confirm-popup').popup({
            vertical: 'top',
            transition: 'all 0.3s'
        });
        $('#form-popup').popup({
            vertical: 'top',
            transition: 'all 0.3s'
        });
        $('#stop-confirm-popup').popup({
            vertical: 'top',
            transition: 'all 0.3s'
        });
        $('#mark-confirm-popup').popup({
            vertical: 'top',
            transition: 'all 0.3s'
        });
    });
</script>