<!-- 搜索栏 -->
<div class="row" id="searchDiv" style="display: none">
    <div class="col-sm-12">
        <section id="search" style="font-size: 18px; margin-bottom: 0;">
            <label for="search-input"><i class="fa fa-search" aria-hidden="true" style="font-size: 20px"></i><span class="sr-only">搜索一下</span></label>
            <input id="search-input" class="form-control input-lg" placeholder="搜索一下" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
            <a id="search-clear" href="#" class="fa fa-times-circle hide" aria-hidden="true"><span class="sr-only">清除</span></a>
        </section>
    </div>
</div>