@charset "utf-8";
html{
    font-size:1px;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #000;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    color: #C7C7C7;
    font-size: 14px;
}
#header-shade, #sidebar-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(160, 160, 160, 0.5);
    z-index: 2;
}
.header-toolbar {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.header-toolbar > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
}
li {
    line-height: 20px;
}
#header .button-group {
    display: inline-block;
    margin: auto 15px;
    vertical-align: middle;
    clear: both;
}
#header .button-group>a {
    display: inline-block;
    position: relative;
    float: left;
    top: 5px;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    padding: 4px 8px;
    margin: 0;
    cursor: pointer;
}
#btn-deploy {
    padding: 4px 12px;
}
#btn-deploy.disabled {
    cursor: default;
    background: #444;
    color: #999 !important;
}
.deploy-button {
    background: #8C101C;
    color: #eee !important;
}
a {
    color: #0088cc;
    text-decoration: none;
}
span.logo {
    float: left;
    margin-top: 5px;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
}
span.logo span {
    vertical-align: middle;
    font-size: 16px !important;
}
#main-container {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.left-wrapper {
    width: 180px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    background: #f0f0f0;
    border-right: solid 1px #e7e7e7;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    transition: width 0.2s ease-in-out
}
.middle-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 180px;
    right: 250px;
    cursor: crosshair;
}
.right-wrapper {
    position: absolute;
    width: 250px;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f5f5f5;
    border-left: solid 1px #e7e7e7;
}
.middle-wrapper h4,
.right-wrapper h4 {
    font-size: 1em;
    height: 40px;
    border-bottom: solid 1px #e7e7e7;
    text-align: center;
    line-height: 40px
}
.workflow .node rect{
    width:120px;
    height:30px;
    cursor: move;
    stroke: #333;
    stroke-width:2;
    fill: #fff;
}
.workflow .node text{
    cursor: move;
    font-size: 13px;
}
.workflow .node circle {
    stroke: #333;
    stroke-width: 2px;
    fill: #fff;
    cursor: crosshair;
}
.workflow .node circle.end {
    fill: orange;
}
.workflow .cable {
    stroke: #888;
    stroke-width: 3;
    fill: none;
    pointer-events: none;
}
.workflow .node.active rect,
.workflow .node.active circle {
    stroke: #ff7f0e !important;
    background-color: #eee
}
.workflow .node.success rect,
.workflow .node.success circle {
    stroke: #1aad19 !important;
    background-color: #1aad19
}
.workflow .node.error rect,
.workflow .node.error circle {
    stroke: #ff3020 !important;
    background-color: #eee
}
.workflow .node .run{
    cursor: pointer;
    fill: #1aad19 !important;
}
.workflow .node .run:hover{
    font-size: 15px;
}

#sidebar-separator {
    position: absolute;
    top: 0;
    right: 250px;
    bottom: 0;
    width: 7px;
    z-index: 11;
    background: #f3f3f3 url(../images/grip.png) no-repeat 50% 50%;
    cursor: col-resize;
}