/*.left-container {*/
    /*height: 300px;*/
    /*width: 35%;*/
    /*display: inline-block;*/
/*}*/

.right-container {
    height: 300px;
    width: 100%;
    display: inline-block;
}

.cluster-image {
    height: 300px;
    width: 33%;
    display: inline-block;
}

.page-container {
    height: 20px;
    width: 100%;
    display: inline-block;
}

.page-component {
    cursor: pointer;
}

.left-arrow {
    margin-left: 15%;
}

.right-arrow {
    margin-left: 70%;
}