@charset "utf-8";
html{
    font-size:1px;
    line-height: 20px;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #000;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    color: #C7C7C7;
    font-size: 14px;
}
#header-shade, #sidebar-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(160, 160, 160, 0.5);
    z-index: 2;
}
.header-toolbar {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.header-toolbar > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
}
li {
    line-height: 20px;
}
#header .button-group {
    display: inline-block;
    margin: auto 15px;
    vertical-align: middle;
    clear: both;
}
#header .button-group>a {
    display: inline-block;
    position: relative;
    float: left;
    top: 5px;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    padding: 4px 8px;
    margin: 0;
    cursor: pointer;
}
#btn-deploy {
    padding: 4px 12px;
}
#btn-deploy.disabled {
    cursor: default;
    background: #444;
    color: #999 !important;
}
.deploy-button {
    background: #8C101C;
    color: #eee !important;
}
#btn-deploy.disabled .deploy-button-content>img {
    opacity: 0.3;
}
#btn-deploy .deploy-button-content>img {
    margin-right: 8px;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
a {
    color: #0088cc;
    text-decoration: none;
}
span.logo {
    float: left;
    margin-top: 5px;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
}
span.logo span {
    vertical-align: middle;
    font-size: 16px !important;
}
#main-container {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.left-wrapper {
    width: 180px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    background: #f0f0f0;
    border-right: solid 1px #e7e7e7;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    transition: width 0.2s ease-in-out
}
.middle-wrapper {
    position: absolute;
    margin: 0;
    top: 0;
    left: 181px;
    right: 258px;
    bottom: 0;
    overflow: hidden;
    border: 1px solid #bbb;
    box-sizing: border-box;
    transition: left 0.2s ease-in-out;
}
.right-wrapper {
    position: absolute;
    width: 250px;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f5f5f5;
    border-left: solid 1px #e7e7e7;
}
.middle-wrapper h4,
.right-wrapper h4 {
    font-size: 1em;
    height: 40px;
    border-bottom: solid 1px #e7e7e7;
    text-align: center;
    line-height: 40px
}
.workflow{
    overflow: auto;
    background-color: #e3e3e3;
    cursor: crosshair;
}
#workflow-editor, #chart{
    overflow: auto;
    background: #e3e3e3;
    position: absolute;
    bottom: 25px;
    top: 35px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    transition: right 0.2s cubic-bezier(0.25, 0.1, 0.51, -0.12);
}
.red-ui-tabs {
    position: relative;
    background: #fff;
    overflow: hidden;
    height: 35px;
    box-sizing: border-box
}

.red-ui-tabs .red-ui-tabs-scroll-container {
    height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 0;
}

.red-ui-tabs .red-ui-tabs-scroll-container::-webkit-scrollbar {
    display: none
}

.red-ui-tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    height: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid #bbb;
    white-space: nowrap;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.red-ui-tabs ul li {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #bbb;
    background: #f0f0f0;
    margin: 3px 3px 0 3px;
    height: 32px;
    line-height: 29px;
    max-width: 200px;
    width: 14%;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

.red-ui-tabs ul li a.red-ui-tab-label {
    display: block;
    font-size: 14px;
    padding-left: 12px;
    width: 100%;
    height: 100%;
    color: #666
}

.red-ui-tabs ul li a:hover {
    text-decoration: none
}

.red-ui-tabs ul li a:focus {
    text-decoration: none
}

.red-ui-tabs ul li:not(.active) a:hover + a.red-ui-tab-close {
    background: #ddd
}

.red-ui-tabs ul li.active {
    background: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    z-index: 2
}

.red-ui-tabs ul li.active a {
    color: #333
}

.red-ui-tabs ul li.active a.red-ui-tab-close {
    color: #aaa;
    background: #fff
}

.red-ui-tabs ul li.active a.red-ui-tab-close:hover {
    background: #ddd !important;
    color: #666
}

.red-ui-tabs ul li.active img.red-ui-tab-icon {
    opacity: 0.2
}

.red-ui-tabs ul li:not(.active) a:hover {
    color: #666;
    background: #ddd
}

.red-ui-tabs.red-ui-tabs-scrollable {
    padding-left: 21px;
    padding-right: 21px
}

.red-ui-tabs.red-ui-tabs-add {
    padding-right: 35px
}

.red-ui-tabs.red-ui-tabs-add.red-ui-tabs-scrollable {
    padding-right: 35px;
}

.red-ui-tabs.red-ui-tabs-collapsible li:not(.active) {
    display: none
}

.red-ui-tabs.red-ui-tabs-collapsible li:not(.active).red-ui-tab-pinned {
    width: 32px
}

.red-ui-tabs.red-ui-tabs-collapsible li:not(.active).red-ui-tab-pinned a {
    padding-left: 0;
    text-align: center
}

.red-ui-tabs.red-ui-tabs-collapsible li:not(.active).red-ui-tab-pinned span {
    display: none
}

.red-ui-tabs.red-ui-tabs-vertical {
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid #bbb;
    margin: 0;
    background: #f3f3f3;
    overflow: visible
}

.red-ui-tabs.red-ui-tabs-vertical .red-ui-tabs-scroll-container {
    height: auto;
    overflow-x: visible;
    overflow-y: scroll
}

.red-ui-tabs.red-ui-tabs-vertical ul {
    padding: 0;
    height: auto;
    border: none;
    width: calc(100% + 1px)
}

.red-ui-tabs.red-ui-tabs-vertical ul li {
    width: 100%;
    display: block;
    margin: 0;
    border: none;
    border-right: 1px solid #bbb;
    height: auto
}

.red-ui-tabs.red-ui-tabs-vertical ul li:not(:first-child) {
    border-top: 1px solid #ddd
}

.red-ui-tabs.red-ui-tabs-vertical ul li:last-child {
    border-bottom: 1px solid #ddd
}

.red-ui-tabs.red-ui-tabs-vertical ul li a.red-ui-tab-label {
    padding: 9px
}

.red-ui-tabs.red-ui-tabs-vertical ul li.active {
    border-right: 1px solid #fff
}

.red-ui-tabs .red-ui-tabs-select {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    background: red
}

.red-ui-tab-button {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    height: 35px;
    background: #fff;
    border-bottom: 1px solid #bbb;
    z-index: 2
}

.red-ui-tab-button a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    color: #888 !important;
    background: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    width: 32px;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: 1px solid #bbb;
    z-index: 2
}

.red-ui-tab-button a.disabled, .red-ui-tab-button a:disabled {
    cursor: default;
    color: #ccc !important
}

.red-ui-tab-button a:hover, .red-ui-tab-button a:focus {
    text-decoration: none
}

.red-ui-tab-button a:not(.disabled):not(:disabled):hover {
    color: #666 !important;
    background: #ddd
}

.red-ui-tab-button a:not(.disabled):not(:disabled):focus {
    color: #999 !important
}

.red-ui-tab-button a:not(.disabled):not(:disabled):active {
    color: #666 !important;
    background: #efefef;
    text-decoration: none
}
.red-ui-tab-scroll {
    width: 21px;
    top: 0
}

.red-ui-tab-scroll a {
    height: 35px;
    width: 21px;
    display: block;
    color: #888;
    font-size: 22px;
    text-align: center;
    margin: 0;
    border-left: none;
    border-right: none;
    border-top: none
}

.red-ui-tab-scroll-left {
    left: 0
}

.red-ui-tab-scroll-left a {
    border-right: 1px solid #bbb
}

.red-ui-tab-scroll-right {
    right: 0px
}

.red-ui-tab-scroll-right a {
    border-left: 1px solid #bbb
}

.red-ui-tabs.red-ui-tabs-add .red-ui-tab-scroll-right {
    right: 38px
}

img.red-ui-tab-icon {
    margin-left: -8px;
    margin-right: 3px;
    margin-top: -2px;
    opacity: 0.1;
    width: 20px;
    height: 20px;
    vertical-align: middle
}

i.red-ui-tab-icon {
    opacity: 0.7;
    width: 18px;
    height: 20px
}

.red-ui-tabs-badges {
    position: absolute;
    top: 2px;
    right: 2px
}

.red-ui-tab-closeable .red-ui-tabs-badges {
    right: 22px
}

.red-ui-tab.node_changed img.node_changed {
    display: inline-block
}

.red-ui-tab.node_error img.node_error {
    display: inline-block
}

.red-ui-tabs-badges img {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    vertical-align: top
}

.red-ui-tab-close {
    background: #f0f0f0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    padding: 0;
    color: #aaa
}

.red-ui-tab-close:hover {
    background: #ddd !important;
    opacity: 1
}
.workflow, .visual, .command{
    background-color: #e3e3e3;
    z-index: 1;
}

.workflow button, #visual button, #command button{
    cursor: pointer;
    background-color: transparent;
    opacity: 80;
    z-index: 0;
}
.workflow .node rect{
    width:120px;
    height:30px;
    cursor: move;
    stroke: #333;
    stroke-width:1;
    fill: #fff;
}
.workflow .node text{
    cursor: move;
    font-size: 13px;
}
.workflow .node circle {
    stroke: #333;
    stroke-width: 1px;
    fill: #fff;
    cursor: crosshair;
}
.workflow .node circle.end {
    fill: orange;
}
.workflow .cable {
    stroke: #888;
    stroke-width: 2;
    fill: none;
    cursor: move;
}
.workflow .cable.active {
    stroke: #ff7f0e !important;
    stroke-width: 2;
    fill: none;
    cursor: move;
    background-color: #eee;
}
.workflow .node.active rect,
.workflow .node.active circle {
    stroke: #ff7f0e !important;
    fill: #fff;
}
.workflow .node.deactivate rect,
.workflow .node.deactivate circle {
    fill: #eee;
}
.workflow .node.init_success rect{
    fill: #fff;
}
.workflow .node.init_error rect{
    fill: #f3f3f3;
}
.workflow .node.run_success rect{
    fill: springgreen;
}
.workflow .node.run_error rect{
    fill: #ffff00;
}
.workflow .node .run{
    cursor: pointer;
    fill: #1aad19 !important;
}
.workflow .node .run:hover{
    font-size: 15px;
}
.separator{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 315px;
    background: #fff;
    box-sizing: border-box;
    z-index: 10;
    border: 1px solid #bbb;
}
#sidebar.closing {
    background: #eee;
    border: 1px #900 dashed;
}
#sidebar-separator {
    position: absolute;
    top: 0;
    right: 250px;
    bottom: 0;
    width: 7px;
    background: #f3f3f3 url(../../images/grip.png) no-repeat 50% 50%;
    cursor: col-resize;
}
#workflow-separator {
    position: absolute;
    top: 45%;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: #f3f3f3 url(../../images/grip2.png) no-repeat 50% 50%;
    cursor: row-resize;
}

#visual-separator {
    position: absolute;
    top: 90%;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: #f3f3f3 url(../../images/grip2.png) no-repeat 50% 50%;
    cursor: row-resize;
}

#workspace-footer {
    border-top: 1px solid #bbb;
    background: #f3f3f3;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 23px;
    padding: 0 10px;
    user-select: none;
    z-index: 99;
}

#workspace-footer .button-group:not(:last-child) {
    margin-right: 5px
}

.workspace-footer-button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    color: #888 !important;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 11px;
    line-height: 17px;
    width: 18px;
    height: 18px
}

.workspace-footer-button.disabled, .workspace-footer-button:disabled {
    cursor: default;
    color: #ccc !important
}

.workspace-footer-button:hover, .workspace-footer-button:focus {
    text-decoration: none
}

.workspace-footer-button:not(.disabled):not(:disabled):hover {
    color: #666 !important;
    background: #ddd
}

.workspace-footer-button:not(.disabled):not(:disabled):focus {
    color: #999 !important
}

.workspace-footer-button:not(.disabled):not(:disabled):active {
    color: #666 !important;
    background: #efefef;
    text-decoration: none
}

.button-group .workspace-footer-button:not(:first-child) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.button-group .workspace-footer-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.button-group-vertical .workspace-footer-button {
    display: block;
    min-width: 22px
}

.button-group-vertical .workspace-footer-button:not(:first-child) {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.button-group-vertical .workspace-footer-button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.button-row .workspace-footer-button:not(:first-child) {
    margin-left: 15px
}

.workspace-footer-button:focus {
    outline: 1px solid rgba(85, 150, 230, 0.2)
}

.workspace-footer-button.primary {
    border-color: #AD1625;
    color: #eee !important;
    background: #AD1625
}

.workspace-footer-button.primary.disabled, .workspace-footer-button.primary.ui-state-disabled {
    background: none;
    color: #999 !important;
    border-color: #ccc
}

.workspace-footer-button.primary:not(.disabled):not(.ui-button-disabled):hover {
    border-color: #6E0A1E;
    background: #6E0A1E;
    color: #eee !important
}

.workspace-footer-button.text-button {
    width: auto;
    padding: 0 5px
}

.workspace-footer-button-toggle {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    color: #888 !important;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: #999 !important;
    background: #efefef;
    margin-bottom: 1px;
    font-size: 11px;
    line-height: 17px;
    height: 18px;
    width: 18px
}

.workspace-footer-button-toggle.disabled, .workspace-footer-button-toggle:disabled {
    cursor: default;
    color: #ccc !important
}

.workspace-footer-button-toggle:hover, .workspace-footer-button-toggle:focus {
    text-decoration: none
}

.workspace-footer-button-toggle:not(.disabled):not(:disabled):hover {
    color: #666 !important;
    background: #ddd
}

.workspace-footer-button-toggle:not(.disabled):not(:disabled):focus {
    color: #999 !important
}

.workspace-footer-button-toggle:not(.disabled):not(:disabled):active {
    color: #666 !important;
    background: #efefef;
    text-decoration: none
}

.button-group .workspace-footer-button-toggle:not(:first-child) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.button-group .workspace-footer-button-toggle:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.button-group-vertical .workspace-footer-button-toggle {
    display: block;
    min-width: 22px
}

.button-group-vertical .workspace-footer-button-toggle:not(:first-child) {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.button-group-vertical .workspace-footer-button-toggle:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.button-row .workspace-footer-button-toggle:not(:first-child) {
    margin-left: 15px
}

.workspace-footer-button-toggle:focus {
    outline: 1px solid rgba(85, 150, 230, 0.2)
}

.workspace-footer-button-toggle.primary {
    border-color: #AD1625;
    color: #eee !important;
    background: #AD1625
}

.workspace-footer-button-toggle.primary.disabled, .workspace-footer-button-toggle.primary.ui-state-disabled {
    background: none;
    color: #999 !important;
    border-color: #ccc
}

.workspace-footer-button-toggle.primary:not(.disabled):not(.ui-button-disabled):hover {
    border-color: #6E0A1E;
    background: #6E0A1E;
    color: #eee !important
}

.workspace-footer-button-toggle.selected:not(.disabled):not(:disabled) {
    color: #888 !important;
    background: #fff;
    border-bottom-width: 2px;
    border-bottom-color: #aaa;
    margin-bottom: 0
}

.workspace-footer-button-toggle.selected:not(.disabled):not(:disabled):not(.single) {
    cursor: default
}

.workspace-footer-button-toggle.disabled, .workspace-footer-button-toggle:disabled {
    color: #ddd !important
}

.workspace-footer-button-toggle.text-button {
    width: auto;
    padding: 0 5px
}


#sidebar-footer {
    border-top: 1px solid #bbb;
    background: #f3f3f3;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 23px;
    padding: 0 10px;
    user-select: none
}

#sidebar-footer .button-group:not(:last-child) {
    margin-right: 5px
}

.sidebar-footer-button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    color: #888 !important;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 11px;
    line-height: 17px;
    width: 18px;
    height: 18px
}

.sidebar-footer-button.disabled, .sidebar-footer-button:disabled {
    cursor: default;
    color: #ccc !important
}

.sidebar-footer-button:hover, .sidebar-footer-button:focus {
    text-decoration: none
}

.sidebar-footer-button:not(.disabled):not(:disabled):hover {
    color: #666 !important;
    background: #ddd
}

.sidebar-footer-button:not(.disabled):not(:disabled):focus {
    color: #999 !important
}

.sidebar-footer-button:not(.disabled):not(:disabled):active {
    color: #666 !important;
    background: #efefef;
    text-decoration: none
}

.button-group .sidebar-footer-button:not(:first-child) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.button-group .sidebar-footer-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.button-group-vertical .sidebar-footer-button {
    display: block;
    min-width: 22px
}

.button-group-vertical .sidebar-footer-button:not(:first-child) {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.button-group-vertical .sidebar-footer-button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.button-row .sidebar-footer-button:not(:first-child) {
    margin-left: 15px
}

.sidebar-footer-button:focus {
    outline: 1px solid rgba(85, 150, 230, 0.2)
}

.sidebar-footer-button.primary {
    border-color: #AD1625;
    color: #eee !important;
    background: #AD1625
}

.sidebar-footer-button.primary.disabled, .sidebar-footer-button.primary.ui-state-disabled {
    background: none;
    color: #999 !important;
    border-color: #ccc
}

.sidebar-footer-button.primary:not(.disabled):not(.ui-button-disabled):hover {
    border-color: #6E0A1E;
    background: #6E0A1E;
    color: #eee !important
}

.sidebar-footer-button.text-button {
    width: auto;
    padding: 0 5px
}

.sidebar-footer-button-toggle {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    color: #888 !important;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: #999 !important;
    background: #efefef;
    margin-bottom: 1px;
    font-size: 11px;
    line-height: 17px;
    height: 18px;
    width: 18px
}

.sidebar-footer-button-toggle.disabled, .sidebar-footer-button-toggle:disabled {
    cursor: default;
    color: #ccc !important
}

.sidebar-footer-button-toggle:hover, .sidebar-footer-button-toggle:focus {
    text-decoration: none
}

.sidebar-footer-button-toggle:not(.disabled):not(:disabled):hover {
    color: #666 !important;
    background: #ddd
}

.sidebar-footer-button-toggle:not(.disabled):not(:disabled):focus {
    color: #999 !important
}

.sidebar-footer-button-toggle:not(.disabled):not(:disabled):active {
    color: #666 !important;
    background: #efefef;
    text-decoration: none
}

.button-group .sidebar-footer-button-toggle:not(:first-child) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.button-group .sidebar-footer-button-toggle:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.button-group-vertical .sidebar-footer-button-toggle {
    display: block;
    min-width: 22px
}

.button-group-vertical .sidebar-footer-button-toggle:not(:first-child) {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.button-group-vertical .sidebar-footer-button-toggle:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.button-row .sidebar-footer-button-toggle:not(:first-child) {
    margin-left: 15px
}

.sidebar-footer-button-toggle:focus {
    outline: 1px solid rgba(85, 150, 230, 0.2)
}

.sidebar-footer-button-toggle.primary {
    border-color: #AD1625;
    color: #eee !important;
    background: #AD1625
}

.sidebar-footer-button-toggle.primary.disabled, .sidebar-footer-button-toggle.primary.ui-state-disabled {
    background: none;
    color: #999 !important;
    border-color: #ccc
}

.sidebar-footer-button-toggle.primary:not(.disabled):not(.ui-button-disabled):hover {
    border-color: #6E0A1E;
    background: #6E0A1E;
    color: #eee !important
}

.sidebar-footer-button-toggle.selected:not(.disabled):not(:disabled) {
    color: #888 !important;
    background: #fff;
    border-bottom-width: 2px;
    border-bottom-color: #aaa;
    margin-bottom: 0
}

.sidebar-footer-button-toggle.selected:not(.disabled):not(:disabled):not(.single) {
    cursor: default
}

.sidebar-footer-button-toggle.disabled, .sidebar-footer-button-toggle:disabled {
    color: #ddd !important
}

.sidebar-footer-button-toggle.text-button {
    width: auto;
    padding: 0 5px
}