<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据流可视化分析平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="数据流可视化分析平台">
    <meta name="author" content="yzs">

    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/jquery-ui.min.js"></script>
    <script src="../public/js/d3.min.js"></script>
    <script src="../public/js/d3-transform.min.js"></script>
    <script src="../public/js/vue.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../public/custom/index/index.css">
    <link rel="stylesheet" type="text/css" href="../public/custom/node/node.css">
</head>
<body>
<div id="vm">
    <div id="header">
        <span class="logo">
            <img src="./public/node-red.png" title="0.19.5">
            <span>数据流可视化分析平台</span>
        </span>
        <ul class="header-toolbar hide" style="display: block;">
            <li style="display: none;">
                <a id="btn-notifications" class="button" href="#">
                    <i class="fa fa-warning"></i>
                </a>
            </li>
            <li>
                <span class="deploy-button-group button-group">
                    <a id="btn-deploy" class="deploy-button" @click="deploy">
                        <span class="deploy-button-content" style="opacity: 1;">
                            <img id="btn-deploy-icon" src="./public/deploy-full-o.png">
                            <span>Deploy</span>
                        </span>
                        <span class="deploy-button-spinner hide" style="display: none;"><img
                                src="./public/spin.svg"></span>
                    </a>
                </span>
            </li>
        </ul>
        <div id="header-shade" class="hide" style="display: none;"></div>
    </div>
    <div id="main-container">
        <!-- 动态加载工作流组件 -->
        <div class="left-wrapper" id="palette">
            <img src="../public/images/spin.svg" class="node-spinner hide" style="display: none;">
            <div id="node-search" class="node-search">
                <div class="searchBox-container">
                    <i class="fa fa-search"></i>
                    <input type="text" data-i18n="[placeholder]node.filter" placeholder="filter nodes">
                    <a href="#"><i class="fa fa-times"></i></a>
                    <span class="searchBox-resultCount hide"></span>
                </div>
            </div>
            <div id="node-container" class="node-scroll">
                <template v-for="(module, key) in nodes">
                    <div :id="'node-container-' + key" class="node-category node-close hide node-open"
                         style="display: block;">
                        <div class="node-content" :id="'node-base-category-'+key" style="">
                            <div :id="'node-header-' + key" class="node-header">
                                <i class="expanded fa fa-angle-down"></i>
                                <span>{{module['display'][lang]}}</span>
                            </div>
                            <div v-for="(info, key) in module">
                                <template v-if="key=='nodes'">
                                    <template v-for="(node, key) in info">
                                        <div class="node" :data-template-name="key"
                                             style="background-color: #fff; height: 30px">
                                            <div class="node_label" dir="">{{node[lang]}}</div>
                                            <div class="node_icon_container">
                                                <div class="node_icon"
                                                     :style="'background-image: url(../public/images/'+node+'.png)'"></div>
                                            </div>

                                            <template v-if="node['out'] != 0">
                                                <div class="node_port node_port_output" style="top: -48px;"></div>
                                            </template>
                                            <template v-if="node['in'] != 0">
                                                <div class="node_port node_port_input"
                                                     :style="node['out'] != 0 ? 'top: -58px;' : 'top: -48px;'"></div>
                                            </template>
                                        </div>
                                    </template>
                                </template>
                                <template v-else-if="key=='sub_modules'">
                                    <template v-for="module in info">
                                        <div :id="'node-header-' + key" class="node-header">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            <span>{{module['display'][lang]}}</span>
                                        </div>
                                        <div v-for="(node, key) in module['nodes']">
                                            <div class="node" :data-template-name="key"
                                                 style="background-color: #fff; height: 30px;">
                                                <div class="node_label" dir="">{{node[lang]}}</div>
                                                <div class="node_icon_container">
                                                    <div class="node_icon"
                                                         :style="'background-image: url(../public/images/'+node+'.png)'"></div>
                                                </div>
                                                <template v-if="node['out'] != 0">
                                                    <div class="node_port node_port_output" style="top: -48px;"></div>
                                                </template>
                                                <template v-if="node['in'] != 0">
                                                    <div class="node_port node_port_input" style="top: -58px;"></div>
                                                </template>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <div id="node-footer">
                <a class="node-button" id="node-collapse-all" href="#"><i
                        class="fa fa-angle-double-up"></i></a>
                <a class="node-button" id="node-expand-all" href="#"><i
                        class="fa fa-angle-double-down"></i></a>
            </div>
            <div id="node-shade" class="hide"></div>
        </div>
        <!-- 工作空间 -->
        <div class="middle-wrapper" id="workspace">
            <div id="workflow" class="workflow" style="position: absolute; width: 100%; height: 45%; top:0;">
                <div class="red-ui-tabs red-ui-tabs-add red-ui-tabs-scrollable" style="display: block;z-index: 0;">
                    <div class="red-ui-tabs-scroll-container">
                        <ul id="workspace-tabs" style="width: 100%;" class="">
                            <li class="red-ui-tab ui-draggable active" id="red-ui-tab-fd9028d1-470fa8" style="width: 100%;">
                                <a href="#" class="red-ui-tab-label" title="Flow 2">
                                    <span class="workspace-disabled-icon">
                                        <i class="fa fa-ban"></i>
                                    </span>
                                    <span class="bidiAware" dir="#">Flow 1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="red-ui-tab-button"><a href="#"><i class="fa fa-plus"></i></a></div>
                    <div class="red-ui-tab-button red-ui-tab-scroll red-ui-tab-scroll-left">
                        <a href="#" style="display: none;">
                            <i class="fa fa-caret-left"></i>
                        </a>
                    </div>
                    <div class="red-ui-tab-button red-ui-tab-scroll red-ui-tab-scroll-right">
                        <a href="#" style="display: none;">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </div>
                </div>
                <div id="workflow-editor">
                    <!--<div class="btn-toolbar justify-content-between" role="toolbar" style="float: right; margin: 5px;">-->
                        <!--<div class="btn-group btn-group-sm" role="group" aria-label="First group">-->
                            <!--<button type="button" class="btn" onclick="minScreen('workflow')" style="display: none;">-->
                                <!--<i class="fa fa-minus" aria-hidden="true"></i>-->
                            <!--</button>-->
                            <!--<button type="button" class="btn" onclick="maxScreen('workflow')">-->
                                <!--<i class="fa fa-window-maximize" aria-hidden="true"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <svg width="5000" height="5000" pointer-events="all" style="position:relative;z-index: 0;"></svg>
                </div>
                <div id="workspace-footer">
                    <a class="workspace-footer-button" id="btn-zoom-out" href="#" style="display: inline-block;">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a class="workspace-footer-button" id="btn-zoom-zero" href="#" style="display: inline-block;">
                        <i class="fa fa-circle-o"></i>
                    </a>
                    <a class="workspace-footer-button" id="btn-zoom-in" href="#" style="display: inline-block;">
                        <i class="fa fa-plus"></i></a>
                    <a class="workspace-footer-button-toggle single" id="btn-navigate" href="#" style="display: inline-block;">
                        <i class="fa fa-map-o"></i>
                    </a>
                </div>
            </div>
            <div id="visual" class="visual" style="position: absolute; width: 100%; height: 45%; top:45%;">
                <div class="btn-toolbar justify-content-between" role="toolbar" style="float: right; margin: 5px">
                    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                        <button type="button" class="btn" onclick="minScreen('visual')" style="display: none;">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn" onclick="maxScreen('visual')">
                            <i class="fa fa-window-maximize" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div id="chart">
                     <!--<div id="abnormalChart" style="height: 100%"></div>-->
                     <div id="cluster" style="height: 200px;"></div>
                </div>
                </div>
            </div>
            <div id="command" class="command" style="position: absolute; width: 100%; height: 10%; top:90%;">
                <div class="btn-toolbar justify-content-between" role="toolbar" style="float: right; margin: 5px">
                    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                        <button type="button" class="btn" onclick="minScreen('command')" style="display: none;">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn" onclick="maxScreen('command')">
                            <i class="fa fa-window-maximize" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="input-group" style="margin-top: 20px">
                    <label class="input-group-addon">In[1]</label>
                    <input type="text" class="form-control" aria-label="Recipient's username"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Submit</button>
                    </div>
                </div>
            </div>

            <div id="workflow-separator" class="ui-draggable separator"></div>
            <div id="visual-separator" class="ui-draggable separator"></div>
        </div>
        <!-- 信息栏 -->
        <div class="right-wrapper" id="sidebar">
            <button type="button" class="btn btn-primary" onclick="debug()"></button>
            <div id="message"></div>
            <input id="text" type="text"/>
            <button onclick="send()">Send</button>
            <button onclick="closeWebSocket()">Close</button>
            <div id="sidebar-footer">
                <div style="display: none;">
                    <a class="sidebar-footer-button" id="workspace-config-node-collapse-all" href="#">
                        <i class="fa fa-angle-double-up"></i>
                    </a>
                    <a class="sidebar-footer-button" id="workspace-config-node-expand-all" href="#">
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>
                <div style="display: block;"></div>
                <div style="display: none;">
                    <span class="button-group">
                        <a id="debug-tab-open" class="sidebar-footer-button" href="#" data-i18n="[title]node-red:debug.sidebar.openWindow" title="open in new window">
                            <i class="fa fa-desktop"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div id="sidebar-separator" class="ui-draggable"></div>
    </div>
    <div class="modal fade" id="nodeParamsModal" tabindex="-1" role="dialog" aria-labelledby="nodeParamsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nodeParamsModalLabel">{{node.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="main-form">
                        <template v-if="node.attrs.length != 0">
                            <template v-for="(model, index) in node.attrs">
                                <div class="form-group">
                                    <label :for="model.name" class="col-sm-3">{{model.label[lang]}}</label>
                                    <template v-if="model.type == 'list'">
                                        <select :name="model.name" class="col-sm-8">
                                            <option value="">全部</option>
                                            <template v-for="(option, id) in model.list">
                                                <option :value="option"
                                                        :selected="model.default == id || model.default == option">
                                                    {{option}}
                                                </option>
                                            </template>
                                        </select>
                                    </template>
                                    <template v-else-if="model.type == 'richtext'">
                                        <textarea :type="model.type" class="col-sm-8" :name="model.name"
                                                  :placeholder="model.default">{{model.default}}</textarea>
                                    </template>
                                    <template v-else-if="model.type == 'file'">
                                        <input :id="'file_'+node.id" :type="model.type" class="col-sm-8"
                                               :name="model.name"
                                               :placeholder="model.default" :value="model.default">
                                    </template>
                                    <template v-else>
                                        <input :type="model.type" class="col-sm-8" :name="model.name"
                                               :placeholder="model.default" :value="model.default">
                                    </template>
                                </div>
                            </template>

                        </template>
                        <template v-else>
                            <div class="form-group">
                                抱歉，暂时不可配置～
                            </div>
                        </template>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" @click="deleteNode()">删除</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="saveNodeConfig()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="../config/config.js"></script>
<script src="../public/custom/node/node.js"></script>
<script src="../public/js/cookie.js"></script>
<script src="../public/js/Echarts/echarts.js"></script>
<script src="../public/custom/index/index.js"></script>
<script src="../public/custom/charts/charts.js"></script>
<script src="../public/custom/websocket/websocket.js"></script>
<script src="../public/custom/charts/cluster.js"></script>

<script>
    // 说明：获取鼠标位置
    // 整理：http://www.codebit.cn
    // 来源：http://www.webreference.com
    function mousePosition(ev) {
        if (ev.pageX || ev.pageY) {
            return {x: ev.pageX, y: ev.pageY};
        }
        return {
            x: ev.clientX + document.body.scrollLeft - document.body.clientLeft,
            y: ev.clientY + document.body.scrollTop - document.body.clientTop
        };
    }
    document.onmousemove = mouseMove;

    function mouseMove(ev) {
        ev = ev || window.event;
        var mousePos = mousePosition(ev);
        //console.log("x: "+mousePos.x+"   y: " + mousePos.y);
    }
    //vue 绑定
    var vm = new Vue({
        el: '#vm',
        data: {
            init_finish: false,
            nodes: {},
            node: {
                id: "-1",
                name: "",
                type: "",
                attrs: []
            },
            path: {
                id: "",
                from: "-1",
                to: "-1"
            },
            selected: "aa",
            lang: getCookieValue("lang"),
            routers: {},
            uploadFile: false,
        },
        mounted: function () {
            // 工作流初始化
            $(function () {
                // 默认有一个tabs
                workflow.tab.push({
                    id: currentTab,
                    type: "tab",
                    label: "Flow " + currentTab,
                    disabled: false,
                    info: ""
                });
                // 初始化左侧组件栏
                vm.nodes = nodes_category;
                if (vm.lang == "") {
                    vm.lang = 'zh';
                }
            });
            //工作流里的按钮
            $(function () {
                button_op();
            });
            // 键盘事件
            $(function () {
                $(document).ready(
                        function () {
                            document.onkeydown = function () {
                                var oEvent = window.event;
                                if (oEvent.keyCode === 46) {
                                    console.log(vm.path);
                                    //逻辑处理
                                    if (vm.node.id != "-1") {
                                        onNodeDelete(vm.node.id);
                                    }
                                    if (vm.path.id != "-1") {
                                        onPathDelete(vm.path.id);
                                    }

                                    // 重置
                                    reset();
                                }
                            }
                        });
            });
            // svg事件
            $(function () {
                separator();
            });
        },
        updated: function () {
            // 初始化node拖拽
            if (!vm.init_finish) {  // 确保只初始化一次
                init();
                vm.init_finish = true;
            }
        },
        methods: {
            deploy: function () {
                // 生成节点路由表
                var routers = {};
                for (var tabIndex in workflow.nodes) {
                    for (var nodeId in workflow.nodes[tabIndex]) {
                        var node_origin = workflow.nodes[tabIndex][nodeId];
                        var node_type = node_origin['type'];
                        var node_id = node_origin['id'];
                        var node = {};
                        node.pId = tabIndex;
                        node.id = node_id;
                        node.type = node_type;
                        if (workflow.links[node_id] && workflow.links[node_id].length != 0) {
                            node.linkTo = workflow.links[node_id];
                        } else {
                            node.linkTo = [-1];
                        }
                        var algoParamsList = node_params[node_type];
                        node.paramsList = [];
                        for (var i = 0, len = algoParamsList.length; i < len; i++) {
                            var param_name = algoParamsList[i];
                            node.paramsList.push(node_origin[param_name]);
                        }
                        routers[node_id] = node;
                    }
                }

                // Check 1: 检测当前节点路由表是否为空
                var routersIsEmpty = (JSON.stringify(routers) == "{}");
                if (routersIsEmpty) {
                    console.log("无节点");
                    return;
                }
                // Check 2: 检测节点参数是否有误

                // Check 3: 检测链表中是否存在异常

                // 解析工作流，生成链表
                var head = {};  // 记录每个tab上的头节点id
                var link = {};  // 记录每个tab上的链表
                var traveled = {};  // 记录每个tab上已访问的节点id
                var last = -1;
                for (var tab in routers) {
                    console.log(routers[tab], routers[tab].linkTo);
                    var pId = routers[tab].pId;  // 获取tab的id
                    var id = routers[tab].id;  // 获取节点id
                    if (!traveled[pId]) {
                        traveled[pId] = {};
                    }
                    if (traveled[pId][id]) { //如果遍历过，跳过
                        continue;
                    }
                    traveled[pId][id] = 1;  // 记录更新当前tab已访问的节点id

                    head[pId] = id;  // 记录更新当前tab的头节点id
                    var next = routers[tab].linkTo[0];  // 获取下一个节点的id
                    if (!link[pId]) {  // 初始化tab下的链表
                        link[pId] = {};
                    }
                    if (!link[pId][id]) {  // 初始化当前tab的链表
                        link[pId][id] = {};
                    }

                    link[pId][id].id = id;
                    link[pId][id].last = last;
                    link[pId][id].next = routers[tab].linkTo[0];
                    link[pId][id].algorithm = routers[tab].type;
                    link[pId][id].paramsList = routers[tab].paramsList;

                    last = id;  // 记录当前id
                    while (next != -1 && !traveled[next]) {
                        link[pId][next] = {};
                        link[pId][next].id = next;
                        link[pId][next].last = last;
                        link[pId][next].next = routers[next].linkTo[0];
                        link[pId][next].algorithm = routers[next].type;
                        link[pId][next].paramsList = routers[next].paramsList;
                        traveled[pId][next] = 1;

                        last = next;  // 更新last
                        next = routers[next].linkTo[0]; // 更新next变量
                        traveled[pId][next] = 1;
                    }
                }

                // 将节点路由信息转换为节点列表
                var nodeList = {};
                for (var tabId in head) {
                    var nodeId = head[tabId];
                    var node = link[tabId][nodeId];
                    var nextId = node.next;
                    nodeList[nodeId] = node;
                    while (nextId != -1) {
                        node = link[tabId][nextId];
                        nodeList[nextId] = node;
                        nextId = node.next;
                    }
                }

                // 模型建立请求
                var request = {};
                request.verCode = workflow.verCode;
                request.routers = nodeList;
                this.routers = nodeList;  // 保存路由信息
                var data = JSON.stringify(request);

                // 发送工作流
                $.ajax({
                    url: api_map.workflow_init,
                    type: 'POST',
                    data: data,
                    contentType: 'application/json',
                    success: function (res) {
                        if (res.code == 0) {
                            workflow.verCode = res.data.verCode;
                            updateNodeStatus(res.data.initResult);
                        } else {
                            alert(res.msg);
                        }
                    }
                });
            },
            runNode: function (nodeId) {
                var nodeRequest = {};
                nodeRequest.verCode = workflow.verCode;
                nodeRequest.routers = {};
                nodeRequest.routers[nodeId] = this.routers[nodeId];
                var data = JSON.stringify(nodeRequest);
                $.ajax({
                    url: api_map.node_run,
                    type: 'POST',
                    data: data,
                    contentType: 'application/json',
                    success: function (res) {
                        if (res.code == 0) {
                            console.log(res);
                        } else {
                            alert(res.msg);
                        }
                    }
                });
            },
            runWorkflow: function () {

            },
            saveNodeConfig: function () {
                $('#nodeParamsModal').modal('hide');
                if (!this.uploadFile) {
                    var data = $('#main-form').serializeArray();
                    $.each(data, function () {
                        workflow.nodes[currentTab][vm.node.id][this.name] = this.value;
                    });
                }
                else {
                    var nodeId = this.node.id;
                    var uploadFile = $('#file_' + nodeId)[0].files[0];
                    console.log(uploadFile);
                    if (uploadFile == undefined) {
                        console.log("error");
                        return;
                    }

                    var flow = {};
                    flow.verCode = workflow.verCode;
                    flow.routers = {};
                    flow.routers[nodeId] = this.routers[nodeId];

                    var formData = new FormData();
                    formData.append('file', uploadFile);
                    formData.append('verCode', workflow.verCode);
                    formData.append('nodeId', vm.node.id);
                    formData.append('nodeType', vm.node.type);
                    formData.append('dataSetName', 'test');
                    $.ajax({
                        url: api_map.upload,
                        type: 'POST',
                        data: formData,
                        cache: false,    //上传文件不需缓存
                        processData: false, //需设置为false。因为data值是FormData对象，不需要对数据做处理
                        contentType: false, //需设置为false。因为是FormData对象，且已经声明了属性enctype="multipart/form-data"
                        success: function (res) {
                            if (res.code == 0) {
                                workflow.verCode = res.data.verCode;
                                updateNodeStatus(res.data.initResult);
                            } else {
                                alert(res.msg);
                            }
                        }
                    });

                }
            },
            deleteNode: function () {
                onNodeDelete(vm.node.id);
                $('#nodeParamsModal').modal('hide');
            }
        }
    });

    var id = 1;
    function debug() {
        showCluster();
        vm.runNode(vm.node.id);
        // 修改语言
        //changLang();
//        var request = {
//            type: 'data-load',
//            path: "/Users/Jeremy/Desktop/grammarviz3_jar/data/TEK14.txt",  // 改成本地的一个文件
//            limit: 100
//        };
//        $.ajax({
//            url: "http://localhost:8889/workflow/getData",
//            type: 'POST',
//            data: request,
//            contentType: 'application/x-www-form-urlencoded',
//            success: function (res) {
//                if (res.code == 0) {
//                    console.log(res);
//                } else {
//                    alert(res.msg);
//                }
//            }
//        });
        // 画图事件
        // showGraph();
    }

    // 显示节点细节
    function onNodeDetail(id) {
        // 重制
        reset();
        var node = $('#' + id);
        node.attr('class', 'node active');
        var nodeType = node.attr("data-template-name");
        vm.node.id = id;
        vm.node.name = node_config[nodeType]['display'][vm.lang];
        vm.node.type = nodeType;
        console.log('显示节点细节&显示节点可视化');
        // 如果该节点状态为已运行
        var status = node.attr('status');
        if (status == 3) {
            var flow = {};
            flow.verCode = workflow.verCode;
            flow.routers = {};
            flow.routers[id] = vm.routers[id];
            var nodeRequest = {};
            nodeRequest.workflow = flow;
            var data = JSON.stringify(flow);
            console.log("可视化");
            $.ajax({
                url: api_map.get_data + "?limit=100",
                type: 'POST',
                data: data,
                contentType: 'application/json',
                success: function (res) {
                    if (res.code == 0) {
                        console.log(res);
                        abnormalVisual(res.data.result);
                    } else {
                        alert(res.msg);
                    }
                }
            });
        }
    }

    // 配置节点
    function onNodeConfig(id) {
        // 重置
        reset();
        // 显示配置窗口
        $('#nodeParamsModal').modal('show');
        var node = $('#' + id);
        node.attr('class', 'node active');
        var nodeType = node.attr("data-template-name");
        var attrs = [];

        var attrInfo = node_config[nodeType]['attr'];
        var currentParams = workflow.nodes[currentTab][id];

        var keyList = {};
        for (var key in currentParams) {
            keyList[key] = 1;
        }

        for (var i = 0, len = attrInfo.length; i < len; i++) {
            if (attrInfo[i]['enable'] && attrInfo[i]['configurable']) {
                for (var key in keyList) {
                    if (attrInfo[i]['name'] == key) {
                        attrInfo[i]['default'] = currentParams[key];
                    }
                    if (attrInfo[i]['type'] == 'file') {
                        vm.uploadFile = true;
                    }
                }
                attrs.push(attrInfo[i]);
            }
        }
        vm.node.id = id;
        vm.node.name = node_config[nodeType]['display'][vm.lang];
        vm.node.type = nodeType;
        vm.node.attrs = attrs;
    }

    // 运行节点
    function onNodeRun(id) {
        $('#' + id + ' .run')
                .attr('onclick', 'onNodePause(' + id + ')')
                .attr('fill', '#ff7f0e !important')
                .text('\uf04c');
    }

    // 暂停节点
    function onNodePause(id) {
        $('#' + id + ' .run')
                .attr('onclick', 'onNodeRun(' + id + ')')
                .attr('fill', '#1aad19 !important')
                .text('\uf04b');
    }

    // 删除节点
    function onNodeDelete(id) {
        console.log("删除节点#" + id);
        // 删除与之相连的路径
        d3.selectAll('path[from="' + id + '"]').remove();
        d3.selectAll('g[id="' + id + '"]').remove();
        d3.selectAll('path[to="' + id + '"]').remove();

        // 删除workflow中的记录
        var node = workflow.nodes[currentTab][id];
        workflow.used[node.type] -= 1;
        delete workflow.nodes[currentTab][id];
        delete workflow.links[node.id];

        for (var nodeId in workflow.nodes[currentTab]) {
            if (workflow.links[nodeId]) {
                console.log(nodeId, workflow.links[nodeId]);
                var index = workflow.links[nodeId].indexOf(id.toString());
                if (index > -1) {
                    workflow.links[nodeId].splice(index, 1);
                }
            }
        }
        console.log(workflow);

        // 重置
        reset();
    }

    // 点击连线
    function onPathClick(id) {
        // 重置
        reset();
        d3.select('path[id="' + id + '"]').attr('class', 'cable active');
        vm.path.from = d3.select('path[id="' + id + '"]').attr('from');
        vm.path.to = d3.select('path[id="' + id + '"]').attr('to');
        vm.path.id = id;
        console.log(vm.path);
    }

    // 删除连线
    function onPathDelete(id) {
        d3.select('path[id="' + id + '"]').remove();
        var nodeIds = id.split("_");
        var sId = nodeIds[0];
        var eId = nodeIds[1];
        console.log(sId, eId);
        var index = workflow.links[sId].indexOf(eId.toString());
        if (index > -1) {
            workflow.links[sId].splice(index, 1);
        }
        console.log(workflow);

        // 重置
        reset();
    }

    // 更改语言
    function changLang() {
        if (vm.lang == 'en') {
            vm.lang = 'zh';
        } else {
            vm.lang = 'en';
        }
        setCookie('lang', vm.lang, 24, "/");
    }

    // 重置参数
    function reset() {
        d3.selectAll('svg .node').attr('class', 'node');
        d3.selectAll('svg .cable').attr('class', 'cable');
        vm.node = {
            id: "-1",
            name: "",
            type: "",
            attrs: []
        };
        vm.path = {
            id: "-1",
            from: "-1",
            to: "-1"
        };
        vm.uploadFile = false;
    }
</script>