<div style="position: relative; display: block;">
    <div>
        <table class="node-info">
            <tbody>
            <tr class="node-info-node-row">
                <td>Flow</td>
                <td><span class="debug-message-element debug-message-top-level"><span class="debug-message-row"><span
                        class="debug-message-object-value"><span
                        class="debug-message-type-string debug-message-object-header">"fd9028d1.470fa8"</span></span></span></span>
                </td>
            </tr>
            <tr class="node-info-node-row">
                <td>Name</td>
                <td>Flow 2</td>
            </tr>
            <tr class="node-info-node-row">
                <td>Status</td>
                <td>Enabled</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>